@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  background-color: #cacaca;
  color:#777;
  display: flex;
  justify-content: center;
}

p{
  font-weight: 200;
  font-size: 14px;
}
.app{
  width:90vw;
}

.upload{
  color:#6e1e81;
}

.image-container{
  height:800px;
  display: flex;
  justify-content: center;
  background-color: rgba(x,y,z,.20);
  backdrop-filter:blur(20px);
}

.image-container .image{
  /* max-height:80%; */
}

.input-container{
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px ;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.input-container input{
  border:none;
  padding:13px 14px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  width: 90%;
  font-weight: 400;
  color:rgb(40, 35, 35);
  font-family: sans-serif;
}

.imageInput{
  border:none;
  padding:13px 14px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  width: 90%;
  font-weight: 200;
  color:#7777;
}

.input-container input::placeholder{
  color:#7777;
  font-weight: 300;
}

.input-container button{
  min-width: 10%;
  border:none;
  border-left:1px #cacaca solid;
  background-color: #ffff;
  color:#777;
  font-weight: bold;
  cursor:pointer;
}

.input-container button:active{
  background-color: #cacaca;

}

.extra-info{
  text-align: center;
}

.answer{
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px;
  padding:13px 14px;
  box-sizing: border-box;
  /* font-size: 20px;
  font-weight: 200; */
  color:#fafafc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.loader{
  
}

